<template>
  <div class="w-900px p-r cen-x">
    <form class="bo-1px bor-5px" v-on:submit.prevent="addTask"> <!-- v-on:submit.prevent="addTask" calls the function addTask on submit -->
      <h2 class="f-20px fw-500 t-c">Add task</h2>

      <!-- INPUT Description -->
      <div class="w-100 h-30px mt-10px p-r">
        <div class="w-32 h-20px p-a cen-x">
          <label class="f-l mr-10px">Description</label>
          <div class="f-l">
            <input class="bo-1px" type="text" v-model="description"> <!-- Connects this field to the description variable -->
          </div>
        </div>
      </div>

      <!-- Select option "TO DO or DONE" -->
      <div class="w-100 h-80px p-r">
        <div class="w-30 p-a cen-x">
          <label class="f-20px">Status</label>
          <div class="">
            <div class="w-100">
              <select v-model="status" class="bo-1px w-100"> <!-- Connects this field to the status variable -->v
                <option value="0">To do</option>
                <option value="1">Done</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- SUBMIT Button -->
      <div class="">
        <div class="w-100 h-21px p-r">
          <button class="bo-1px p-a cen-x">Submit</button>
        </div>
      </div>
    </form>

    <!-- TO DO -->
    <div class="bo-1px mt-20px">
      <div class="b-bk">
        <h2 class="c-rd t-c">Todo</h2>

        <div class="">
          <div class="" v-for="(task, task_index) in tasks" :key="task_index" > <!-- Loop through the tasks array, if status is 0 (to do) then we'll show it. -->
            <div class="" v-if="task.status == 0">
              <div class="">
                <p class="c-we">{{ task.description }}</p> <!-- Print the task's description here -->
              </div>
            </div>

            <footer class="">
              <a class="fw-700 c-rd" 
              v-on:click="setStatus(task.id)"
              v-if="task.status=== 0"
              >Done</a>
            </footer>
          </div>
        </div>
      </div>

      <!-- DONE  -->
      <div class="b-gy mt-20px">
        <h2 class="fw-700">Done</h2>

        <div class="">
          <div class="" v-for="(task, task_index) in tasks" :key="task_index" > <!-- Loop through the tasks array, if status is 1 (done) then we'll show it. -->
            <div class="" v-if="task.status === 1">
              <div class="o-45">
                {{ task.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { RepositoryFactory } from "./../repositories/RepositoryFactory";
const PostRepository = RepositoryFactory.get('posts')

export default {
  name: 'HelloWorld',
  data () {
    return {
      isLoading: false,
      tasks: [],
      description: '',
      status: 0
    }
  },
  mounted () { // This will be called when HelloWorld is loaded
    this.getTasks(); // Call our getTasks function below
  },
  methods: {
    async getTasks() {
      this.isLoading = true
      const { data } = await PostRepository.get()
      this.isLoading = false
      this.tasks = data;

      // this.$axios(
      //     {
      //       method:'get',
      //       url: 'http://127.0.0.1:8000/tasks/',
      //       auth: {
      //           username: 'admin',
      //           password: 'password123'
      //       }
      //     }).then(response => this.tasks = response.data);
    },
  }
}
</script>

<style scoped>





</style>